html, body {
    margin:0;
    padding:0;
}

body{
    background-color: #7fffd4;
    overflow: hidden;
    box-sizing: border-box;
    border: 3vh solid #00f5a3;
}
h1{
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-size: 10vh;
    margin: 5vh;
}
h2{
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 10vh;
}